<div class="container ">
   <div class="row">
      
      <div class="register-login">
         <h1 class="logo-login text-center">LOGIN</h1>
          {{#if messages.error}}
            {{{messages.error}}}
         {{/if}}
      <form action="/auth/login" method="post">
         <div id="username">
            <label for="username">username:</label>
            <input type="text" class="username" name="username" required>
         </div>
         <div id="password">
            <label for="password">password:</label>
            <input type="password" class="password" name="password"  required>
         </div>
         <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-success btn-login ">login</button>
         </div>
      </form>
      <a href="/auth/register" class="create">Create Account</a>
      </div>
      
   </div>
</div>

