<div class="container">
    <div class="mt-4">
    <h3>Tạo sản phẩm</h3>

    <form method="post" action="/product/create">
    <div class="mb-3">
        <label for="name">tên sản phẩm</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="description">Mô tả</label>
        <input type="text" class="form-control " id="description" name="description" >
    </div>
    <div class="mb-3">
        <label for="img" >img</label>
        <input type="text" class="form-control" id="img" name="img">
    </div>
    <div class="mb-3">
        <label for="Price">Price</label>
        <input type="text" class="form-control" id="price" name="price">
    </div>
    <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>
    </form>
</div>
</div>